{% extends "base.html" %}

{% block content%}
<table class="table table-striped table-hover">
    <tread>
        <tr>
            <th>№</th>
            <th>Зустріч з</th>
            <th>Дата</th>
            <th>Час</th>
            <th>Тема</th>
            <th>Адреса</th>
            <th>Meet/Zoom</th>
            <th>Дія</th>
        </tr>
    </tread>
    <tbody>
        {% for planner in planners %}
            <tr>
                <td>{{ planner.id }}</td>
                <td>{{ planner.contact }}</td>
                <td>{{ planner.date }}</td>
                <td>{{ planner.time }}</td>
                <td>{{ planner.title }}</td>
                <td>{{ planner.address }}</td>
                <td><a href="{{ planner.link }}">{{ planner.link }}</a></td>
                <td>
                    {% if planner.accepted == None %}
                        <a href="{% url 'accept'%}" class="btn btn-succes">Прийняти</a> 
                        <a href="{% url 'reject'%}" class="btn btn-danger">відхилити</a> 
                    {% else %}
                        <input type="checkbox" disabled {% if planner.accepted %} checked {% endif %}>
                    {% endif%}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content%}