{% extends "base.html" %}

{% block content%}
<table class="table table-striped table-hover">
    <tread>
        <tr>
            <th>№</th>
            <th>Зустріч з</th>
            <th>Дата</th>
            <th>Час</th>
            <th>Тема</th>
            <th>Адреса</th>
            <th>Meet/Zoom</th>
            <th>Прийнята</th>
        </tr>
    </tread>
    <tbody>
        {% for planner in page_obj %}
            <tr>
                <td>{{ planner.id }}</td>
                <td>{{ planner.contact }}</td>
                <td>{{ planner.date }}</td>
                <td>{{ planner.time }}</td>
                <td>{{ planner.title }}</td>
                <td>{{ planner.address }}</td>
                <td><a href="{{ planner.link }}">{{ planner.link }}</a></td>
                <td>
                    <input type="checkbox" disabled {% if planner.accepted %} checked {% endif %}>
                    <td>{{ planner.accepted }}</td>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-primary">&laquo; Перша </a>
            <a href="?page={{ page_obj.previous_page_number }} class="btn btn-primary"">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Наступна</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary" >Остання &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content%}