<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'index' %}">Мій профіль</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'logout'%}">Вихід</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'get_contacts'%}">Список контактів</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'add_contact'%}">Додати контакнт</a>
        </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'sign_in'%}">Вхід</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'sign_up'%}">Реєстрація</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>